.openmodal {
	background-color: rgb(0, 135, 131);
	padding: 20px 40px;
	color: white;
	text-align: center;
	font-size: 17px;
	border: none;
	border-radius: 10px;
	font-weight: 500;
}

.openmodal:hover {
	background-color: #059862;
	cursor: pointer;
}

.modal {
	text-align: center;
	display: none;
	margin: auto;
	background-color: #aaaaaa;
	min-height: 20%;
	padding: 20px;
	padding-bottom: 50px;
}

.delete {
	font-size: 50px;
	font-weight: 400;
}

button {
	text-align: center;
	cursor: pointer;
}

.modal-button {
	min-width: 50%;
	border-radius: 0px;
	border: none;
}

.can {
	padding: 20px 0px;
	padding-left: 5px;
	background-color: #D3D3D3;
}

.del {
	padding: 20px 0px;
	padding-right: 5px;
	float: right;
	background-color: #F44336;
}

.can:hover {
	background-color: #939393;
}

.del:hover {
	background-color: red;
}