.openmodal {
	background-color: rgb(0,135,131);
	padding: 20px 40px;
	color: white;
	text-align: center;
	font-size: 17px;
	border: none;
	border-radius: 10px;
	font-weight: 500;
}

.openmodal:hover {
	background-color: #059862;
	cursor: pointer;
}

.modal {
	text-align: center;
	display: none;
	margin: auto;
	background-color: grey;
}

.delete {
	font-size: 50px;
	font-weight: 400;
}

button {
	text-align: center;
	
}

.modal-button {
	min-width: 50%;
}

.del {
	float: right;
}