.openmodal {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 20px 40px;
	color: white;
	text-align: center;
	font-size: 17px;
	border: none;
	border-radius: 10px;
	font-weight: 500;
}

.openmodal:hover {
	background-color: #059862;
	cursor: pointer;
}

.modal {
	margin: auto;
	width: 50%;
	position: auto;
	display: none;
}

.modal-header {
	font-size: 30px;
}

.modal-center {
	padding: 1px 20px;
}

.modal-end {
	background-color: #F44336;
	padding: 1px 20px;
	color: white;

}

.modal-footer {}