h1 {
	text-align: center;
	margin: auto;
}

p {
	font-size: 30px;
	padding: 0px 100px;
}

.scroll {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	background-color: #f1f1f1;
}

.progress {
	position: fixed;
	float: left;
	width: 50%;
	height: 30px;
	background-color: green;
	z-index: 1;
}

.remain {
	background-color: grey;
	position: fixed;
	width: 100%;
	height: 30px;
}

.progress-text {
	margin: auto;
	padding: 0px;
	padding-right: 10px;
	color: black;
	font-size: 20px;
	z-index: 2;
	float: right;
	left: 0;
	right: 0;
}